body{
    overflow: hidden;
}
.buttons{
    position: absolute;
    bottom: 5%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    transition: 0.2s ease-in-out all;
}

.in_db{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in_db button{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    font-style: bold;
    font-family: Impact;
    margin: 5px;
}


.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: -1;
    transition: 0.2s ease-in-out all;
}


.testing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 40%;
}

.llll_el, .rrrr_el{
    display: block;
    margin: 5px;
    width: 50px;
    height: 25px;
    opacity: 0.1;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s all ease-in-out;
}

.lll_el, .rrr_el{
    display: block;
    margin: 5px;
    width: 100px;
    height: 50px;
    opacity: 0.25;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s all ease-in-out;
}

.ll_el, .rr_el{
    display: block;
    margin: 5px;
    width: 200px;
    height: 100px;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s all ease-in-out;
}

.l_el, .r_el{
    display: block;
    margin: 5px;
    width: 300px;
    height: 150px;

    opacity: 0.75;
    background-color: rgba(0, 0, 0, 0.75);
    transition: 0.5s all ease-in-out;
}

.c_el{
    display: block;
    margin: 5px;
    width: 500px;
    height: 250px;
    
    opacity: 1;
    background-color: rgba(0, 0, 0);
    transition: 0.5s all ease-in-out;
}


.modmenu{
    display: flex;
    position: absolute;
    top: 2%;
    right: 2%;
}
#indicator_btn{
    padding: 0px 100px 0px 100px;
}
#indicator_btn button{
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: none;
    border-radius: 100%;
    margin: 1px;
    transition: 0.4s ease-in-out all;
    color: black;
    font-family: 'Segoe UI';
}

#inputs_len{
    padding: 20px;
    font-family: 'Segoe UI';
}

#inputs_len input{
    width: 20%;
}

#setDirect{
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
}